body {
    background-color: #315d82;
    margin-top: 100px;
}

textarea {
    resize: none;
}

a {
    color: #101010;
}

a:hover {
    text-decoration: none;
}

ul#chat_heads {
    list-style: none;
}

a.chat_head {
    text-decoration: none;
}

#chat_box_body {
    height: 300px;
    max-height: 300px;
    overflow: scroll;
}